--- dovecot.m4.orig	2017-04-26 21:44:14.000000000 +0900
+++ dovecot.m4	2017-04-26 21:44:28.000000000 +0900
@@ -111,7 +111,7 @@
 		# other than that, they don't really make much sense
 		dovecot_pkgincludedir='$(pkgincludedir)'
 		dovecot_pkglibdir='$(pkglibdir)'
-		dovecot_pkglibexecdir='$(libexecdir)/dovecot'
+		dovecot_pkglibexecdir='$(libexecdir)'
 		dovecot_docdir='$(docdir)'
 		dovecot_moduledir='$(moduledir)'
 	fi
